.inicioSesion-container {
  width: 100vw;
  height: 100vh;
  background-image: url("../../assets/fondo.png");
  .descripcion-login {
    font-size: 20px;
    text-align: center;
    margin-top: 56px;
    margin-bottom: 56px;
  }
  button {
    font-size: 15px;
    margin-bottom: 19px;
  }
}
