@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.cdnfonts.com/css/pulang");

@import "./mediasQuerys.scss";

#root {
  background-color: black;
  width: 100%;
  height: 100vh;
}

.mobile-div {
  max-width: 600px;
  width: 100vw;
  background-color: rgb(192, 191, 191);
  height: 100vh;
  margin: auto;
  overflow-y: scroll;
  border-right: 3px solid white;
  border-left: 3px solid white;
  display: flex;
  justify-content: center;

  @include screen_601 {
    height: auto;
  }
  &::-webkit-scrollbar {
    width: 6px;
  }
  &::-webkit-scrollbar-thumb {
    background: #000000;
    border-radius: 10px;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
}

@import "./generalStyles.scss";
@import "./loader/loader.scss";
@import "./branding/branding.scss";
@import "./inicioSesion/inicioSesion.scss";
@import "./registro/registro.scss";
@import "./login/login.scss";
@import "./home/home.scss";
@import "./navBar/navBar.scss";
@import "./zonas/zonas.scss";
@import "./categorias/categorias.scss";
@import "./mi-perfil/miPerfil.scss";
