.registro-container {
  width: 100vw;
  height: 100vh;
  background-image: url("../../assets/fondo.png");
}
.descripcion-registro {
  font-size: 16px;
  text-align: center;
  margin-top: 56px;
  margin-bottom: 56px;
}
.button-submit {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 56px;
}
