.login-container {
  width: 100vw;
  height: 100vh;
  background-image: url("../../assets/fondo.png");
  img {
    margin-bottom: 36px;
  }
  p {
    font-family: Roboto;
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 1.5px;
    text-align: left;
  }
  .botonLogin {
    margin-top: 56px;
    display: flex;
    justify-content: center;
  }
}
