.navBar-container {
  position: relative;
  width: 100%;
  height: 80px;
  background-color: white;
  margin-top: 21px;
  display: flex;
  ul {
    width: 900%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      li {
        list-style: none;
        font-family: Roboto;
        font-size: 14px;
        font-weight: bold;
        line-height: 16px;
        letter-spacing: 0.5px;
        text-align: center;
      }
    }
  }
}
