.home-container {
  width: 360px;
  height: 100vh;
  background-color: white;
  overflow: hidden;
  position: relative;
  .circulo-uno {
    position: absolute;
    width: 658px;
    height: 658px;
    left: -322px;
    top: -122px;
    border-radius: 50%;
    background: #9bc2a7;
    z-index: 0;
  }
  .circulo-dos {
    position: absolute;
    width: 567px;
    height: 567px;
    left: 102px;
    top: 518px;
    border-radius: 50%;
    background: #9bc2a7;
  }
  .top-bar {
    position: relative;
    width: 100%;
    height: 64px;
    background: #599a6c;
    border: 1px solid #000000;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      height: 20px;
      width: 20px;
      position: absolute;
      top: 20px;
      left: 20px;
    }
    h3 {
      font-family: "Pulang", sans-serif;
      font-size: 22px;
      font-weight: 400;
    }
  }
  .saludo-home {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    z-index: 1;
    font-size: 22px;
    margin-top: 23px;
  }
  .carrousel {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    cursor: grab;
  }
  .inner-carrousel {
    display: flex;
  }
  .item {
    width: 210px;
    height: 210px;
    margin-right: 20px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .input-div {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 24px;
    input {
      height: 56px;
      width: 328px;
      &::placeholder {
        color: #000000;
        padding-left: 50px;
      }
    }
  }
  .categorias {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    button {
      height: 40px;
      width: 140px;
      border-radius: 20px;
      padding: 10px 22px 10px 22px;
      background-color: #599a6c;
      font-family: Roboto;
      font-size: 16px;
      font-weight: 500;
      line-height: 20px;
      letter-spacing: 0.10000000149011612px;
      text-align: center;
      border: 1px solid black;
      margin-top: 21px;
    }
  }
}
