.branding-container {
  width: 100vw;
  height: 100vh;
  background-image: url("../../assets/fondo.png");

  .descripcion-branding {
    font-size: 24px;
    text-align: center;
  }
  .imagen-lupa {
    margin-top: 61px;
    margin-bottom: 61px;
  }
}
