.imagen-perfil {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}
.no-logueado {
  height: 161px;
  width: 154px;
  border-radius: 50%;
  background-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}
.miperfil-container {
  width: 360px;
  height: 100vh;
  background-color: white;
  overflow: hidden;
  position: relative;
  .circulo-uno {
    position: absolute;
    width: 1000px;
    height: 1000px;
    left: -20px;
    top: 91px;
    background: #9bc2a7;
    border-radius: 50%;
    background: #9bc2a7;
    z-index: 0;
  }

  .top-bar {
    position: relative;
    width: 100%;
    height: 64px;
    background: #599a6c;
    border: 1px solid #000000;
    z-index: 1;
    display: flex;
    align-items: center;

    svg {
      margin-left: 20px;
      margin-right: 20px;
    }
    h3 {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 400;
      font-size: 22px;
      line-height: 28px;
    }
  }

  .miperfil-categorias {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    button {
      height: 40px;
      width: 150px;
      border-radius: 20px;
      padding: 10px 18px 10px 18px;
      background-color: #599a6c;
      font-family: Roboto;
      font-size: 16px;
      font-weight: 500;
      line-height: 20px;
      letter-spacing: 0.10000000149011612px;
      text-align: center;
      border: 1px solid black;
      margin-bottom: 21px;
    }
  }
}
